<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LAGalaxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C87E2E831CB345AC00328DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87E2E9A1CB345AC00328DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87E2EA51CB345AC00328DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
